campus-library-service/library-service/src/main/resources/library.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://utem.my/bitp3123/library_service"
           targetNamespace="http://utem.my/bitp3123/library_service" 
           elementFormDefault="qualified">

    <xs:element name="BookBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="studentId" type="xs:int"/>
                <xs:element name="isbn" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BookBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookingId" type="xs:int"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="confirmationMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>